@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;700&display=swap');

#__next {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

* {
  font-family: 'Albert Sans', sans-serif;
}

.link-icon {
  font-size: 1.25em
}